body {
    font-family: 'Montserrat', sans-serif;
    margin: 10;
    text-align: center;
    background-color:rgb(58,73,79);
    color:#0A1C17;
}

h3{
    color: #021B2E;
    font-weight: 700;
}

h4{
    margin: 3px;
    color: #021B2E;
    font-weight: 600;
}

h5{
    margin: 3px;
    color: #F8F8F8;
    font-weight: 400;
}

span{
    color: #F8F8F8;
    font-weight: 300;
}

.header {
    padding: 30px 30px;
    background-color: #72B5B5;
    color: #0A1C17;
}

.main{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 300;
}

.pets{
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.row {   
    padding: 25px 20px;
    display: flex;    
    gap: 0px 30px;
}

.row-2 {   
    padding: 25px 20px;
    display: flex;    
    gap: 0px 30px;

}

.item {
    display: flex;
    padding: 25px 25px;
    flex-direction: column;
    align-items: center;
    background: #406569;
    width: 400px;
    background-size: 10%;
}

.item-2 {
    display: flex;
    padding: 25px 25px;
    flex-direction: column;
    align-items: center;
    background: #406569;
    width: 640px;
    background-size: 10%;
}

.item:hover {
    background: #304C4F;
}

.item-2:hover {
    background: #304C4F;
}

@media (max-width:900px) {
    .main {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .row-2{
        flex-direction: column;
    }
}